@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.eot');
	src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style-type: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	color: #212121;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

._container {
	max-width: 1170px;
	margin: 0px auto;
}

header {
  position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	background: #fff;
}

.header__container {
	display: flex;
	min-height:120px;
	align-items: center;
	justify-content: space-between;
}

.menu__list {
	display: flex;	
}

.menu__item:not(:first-child) {
	margin: 0px 0px 0px 40px;
}

.menu__link {
	font-weight: 600;
	font-size: 20px;
	color: inherit;
}

.button {
	display: block;
	text-transform: uppercase;
	font-family:'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding: 17px;
	color: #fff;
}

.description{
	max-width: 625px;
}

.description__title{
font-size: 30px;
margin-bottom: 30px;
}

.description__subtitle {
	font-size: 15px;
	font-weight: 400;
}

.development-project {
	background: url('../img/photo.png') no-repeat center top / cover;
	min-height: 660px;
}

.development-project__body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 1230px;
	margin: 0 auto;
  height:47.142vw;
	align-items: center;
	min-height: 660px;
	padding: 0 30px;
}

.development-project__description {
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.development-project__description h1 {
	font-size: 60px;
	margin-bottom: 30px;
}

.development-project__description span {
	font-size: 22px;
}

.development-project__row{
	align-self: stretch;
	display: flex;
	justify-content: space-evenly;
}

.development-project__row a:hover {
	background: #fff;
	color: #000;
	border: 5px solid #fff;
}

.development-project__button1 {
	border: 5px solid #fff;
	min-width: 220px;
	transition: 0.5s ease;
}

.development-project__button2 {
	border: 5px solid #00897b;
	background: #00897b;
	min-width: 220px;
	transition: 0.5s ease;
}

.about-us{
	min-height: 660px;
}

.about-us__body {
	max-width: 1230px;
	margin: 0 auto;
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 50vw;
	text-align: center;
	min-height: 660px;
	padding: 0 30px;
}

.about-us__info {
	align-self: stretch;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-us__item {
	max-width: 260px;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-us__item img{
	align-self: center;
}

.our-services {
	min-width: 850px;
/*	min-height: 1400px;*/
	background: #e4fdf9;
}

.our-services__body {
	max-width: 1230px;
	margin: 0 auto;
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 50vw;
	text-align: center;
	min-height: 1410px;
	padding: 0 30px;
}

.our-services__panels {
	align-self: stretch;
	align-content: space-between;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 910px;
}

.our-services__item {
	background: #fff;
	width: 290px;
	min-height: 440px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 0 1 32%;
	transition: 0.5s ease;
}

.our-services__item img {
	filter: invert();
	align-self: center;
}

.our-services__button {
	align-self: center;
	width: 150px;
	border: 5px solid #000;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.our-services__item:hover {
	background: #00897b;
	color: #fff;
}

.our-services__item:hover img{
	filter: none;
}

.our-services__item:hover a{
	background: #00897b;
	border: 5px solid #fff;
	color: #fff;
}


.latest-works {
	min-width: 850px;
}

.latest-works__body {
	max-width: 1230px;
	margin: 0 auto;
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 50vw;
	text-align: center;
	min-height: 1620px;
	padding: 0 30px;
}

.latest-works__buttons-row{
	align-self: stretch;
	display: flex;
	justify-content: space-evenly;
}

.latest-works__button {
	color: #212121;
	border: 5px solid #00897b;
}

.latest-works__img-panels {
	align-self: stretch;
	align-content: space-between;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 770px;
	width: 100%;
}

.latest-works__panel {
	background: #fff;
	max-width: 370px;
	max-height: 370px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 0 1 32%;
	transition: 0.5s ease;
}


footer{
	height: 120px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
}